<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506519096438-klvlepe9vblh3l15srekoio017biu77e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506519096438-klvlepe9vblh3l15srekoio017biu77e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>506519096438-9vta381umv0qg2eec8mqd49abnm4952j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABjgJR5HKgZ2TXysrjeICeECZws7wZwYA</string>
	<key>GCM_SENDER_ID</key>
	<string>506519096438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zoolife.app</string>
	<key>PROJECT_ID</key>
	<string>zoolife-371fe</string>
	<key>STORAGE_BUCKET</key>
	<string>zoolife-371fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506519096438:ios:d53cc2797ddccb6fb9a357</string>
	<key>DATABASE_URL</key>
	<string>https://zoolife-371fe.firebaseio.com</string>
</dict>
</plist>